@(signInForm: Form[User])(registrationForm: Form[User])(error: Integer) 
@import helper._
@import helper.twitterBootstrap._ 

@main("Calendar") {
	<div class="header">
		<div class="header-container">
			<img class="logo" src="@routes.Assets.at("images/calendar.png")">
			<h1>Calendar</h1>
    		<div class="header-right">
				@form(routes.Application.signIn(), 'name -> "signInForm", 'class -> "form-inline") {    	    	      	     	 			
    	 		<input type="text" class="input-medium" name="email" placeholder="Email">										
				<input type="password" class="input-medium" name="password" placeholder="Password">
		 		<input type="submit" class="btn btn-primary" value="Sign in"> 		 				        	
    			} 
    		</div>    			   
    	</div>
	</div>

	<div class="content">
		<div class="content-container">
			<div class="content-left">
				<h2 class="red">Calendar</h2>
				<h3>Organize your schedule and never forget another event</h3>
				<h4>With this calendar, it's easy to keep track of life's important events all in one place.</h4>
			</div>
			
			<div class="content-right">
				<h3 class="center">SIGN UP</h3>
				@form(routes.Application.signUp(), 'name -> "signUpForm", 'onsubmit -> "return validateSignUpForm()", 'class -> "form-horizontal") {
    				<div class="control-group" id="email_field">
    					<label class="control-label" for="email">
    						<b>Your current email address:</b>
    					</label>
    					<div class="controls">
        					<input type="text" id="email" name="email" placeholder="Your Email" onchange="isEmailUnique()">
        					<span class="help-block" id="email_error"></span>        	
   						</div>
					</div>
		
					<div class="control-group" id="password_field">
    					<label class="control-label" for="password">
    						<b>Choose a password:</b>
    					</label>
    					<div class="controls">
        					<input type="password" id="password" name="password" placeholder="Password" >
        					<span class="help-block" id="password_error"></span>        		
   						</div>
					</div> 	
		
					<div class="control-group" id="rePassword_field">
    					<label class="control-label" for="rePassword">
    						<b>Re-enter password:</b>
    					</label>
    					<div class="controls">    		
        					<input type="password" id="rePassword" name="rePassword" placeholder="Re-enter password" >
        					<span class="help-block" id="rePassword_error"></span>     
        					<span class="help-block" id="rePassword_help"></span>    		
   						</div>
					</div> 
		
					<div class="control-group" id="firstName_field">
    					<label class="control-label" for="firstName">
    						<b>First name:</b>
    					</label>
    					<div class="controls">
        					<input type="text" id="firstName" name="firstName" placeholder="First Name" >
        					<span class="help-block" id="firstName_error"></span> 
        					<span class="help-block" id="firstName_help"></span>  
   						</div>
					</div>
		
					<div class="control-group" id="lastName_field">
    					<label class="control-label" for="lastName">
    						<b>Last name:</b>
    					</label>
    					<div class="controls">
        					<input type="text" id="lastName" name="lastName" placeholder="Last Name" >
        					<span class="help-block" id="lastName_error"></span> 
        					<span class="help-block" id="lastName_help"></span> 
   						</div>
					</div>
		
					<div class="control-group" id="birthday_field">
    					<label class="control-label" for="birthday">
    						<b>Birthday:</b>
    					</label>
    					<div class="controls">
        					<input type="text" id="birthday" name="birthday" placeholder="DD/MM/YYYY" >
        					<span class="help-block" id="birthday_error"></span> 
        					<span class="help-block" id="birthday_help"></span> 
   						</div>
					</div>  
		
					<div class="control-group">
						<div class="controls">
							<input type="submit" class="btn" value="Create my account"> 
						</div>
					</div> 	
		  
    }
    			<div class="" id="error"></div>    
			</div>
		</div>
	</div>
	
	<script>
		if(@error==1){
		document.getElementById("error").setAttribute("class", "alert alert-error");
		document.getElementById("error").innerHTML="Email address you entered belongs to an existing account.";
		}
		function preventBack(){
			window.history.forward();
		}
		setTimeout("preventBack()", 0);
		window.onunload=function(){null};
	</script>

}
